
<div class="jumbotron">
	<h1 class="title"> 18K Offer </h1>
	<p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
	<br>
	我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
    凭借自己的努力和天份也会变 Winner
	</p>
	<p class="lead">
		<a class="btn btn-lg btn-danger" href="/jobs">马上应征</a>
	</p>
</div>

<!-- 简介 -->
        <section id="feature" class="our-experts">
          <div class="container">
              <div class="row">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="section-title">遇见更好的机会，体验精彩的人生</h2>
                    <div class="long-line"></div>
                    <p class="index-contect">
                      18K Offer由全球知名连续创业者史永恒创立。<br />
                      我们利用硅谷最新演算法，分析全球一流互联网团队需求，及卓越求职者的信息，创立了独一无二的配对模式，让优秀企业与人才的连结更为精准、快速。
                    </p>
                    <%= image_tag("http://ww4.sinaimg.cn/large/006tNc79ly1ff68nmqgsdj301s01s0qs.jpg") %>
                  </div>
                </div>
              </div>
          </div>
        </section>
<!-- 简介 -->

<!--服务优势-->
<section id="service" class="what-we-do">
          <div class="container">

            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="section-title">服务优势</h2>
                <div class="short-line"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">

                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="do-box">
                      <%= image_tag("http://ww4.sinaimg.cn/large/006tNc79ly1ff63ogspc2j303k03k0sl.jpg") %>
                      <h3 class="text-center">优质职缺</h3>
                      <p>职赢网与全国顶尖企业合作，内有海量优秀职缺，只要你有实力，加入一流团队不再是梦想。</p>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="do-box">
                      <%= image_tag("http://ww3.sinaimg.cn/large/006tNc79ly1ff63ucjtepj303k03kwed.jpg") %> 
                      <h3 class="text-center">快速反馈</h3>
                      <p>数据化的招聘流程，让我们拥有业界最快速的反馈机制，求职应聘不再干著急。</p>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="do-box">
                      <%= image_tag("http://ww1.sinaimg.cn/large/006tNc79ly1ff640ffr5yj303k03kglf.jpg") %>
                      <h3 class="text-center">美观模版</h3>
                      <p>你知道怎样的简历最容易获得HR青睐吗？职赢网免费提供最科学化的模版，让你的优势一览无遗。</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </section>
<!--服务优势-->


<!--
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
